
@model IEnumerable<CURDWITHADO.Models.Employee>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Employees</h1>
    <table class="text-center">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Gender</th>
            <th>Department</th>


        </tr>
        @foreach (var emp in Model)
        {
    <tr>
        <td>@emp.id</td>
        <td>@emp.Name</td>
        <td>@emp.Email</td>
        <td>@emp.Mobile</td>
        <td>@emp.Gender</td>
        <td>@emp.DName</td>

    </tr>

        }
    </table>